@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Inter', 'Helvetica Neue', sans-serif;
  }
  .countdown {
    font-family: 'Lato', sans-serif;
  }
  .matches-list h1 {
    line-height: 1rem;
  }
  .matches-list h2 {
    line-height: 1rem;
  }
  .matches-list h3 {
    line-height: 2.5rem;
  }
  .matches-list h4 {
    line-height: 2.25rem;
  }
  .matches-list h5 {
    line-height: 2rem;
  }
  .matches-list h6 {
    line-height: 1.75rem;
  }
}
@layer components {
  .menu-item {
    @apply relative flex h-full cursor-pointer items-center p-3 font-bold text-pink-200 transition-colors ease-in-out hover:bg-white/10 hover:text-zinc-200;
    font-family: 'Noto Sans', sans-serif;
  }
  .timer-circle {
    @apply bg-rose-600 bg-opacity-10 flex w-[104px] h-[104px] rounded-full md:w-[120px] md:h-[120px] lg:w-[136px] lg:h-[136px];
  }
  .timer-circle div {
    @apply text-white m-auto text-center;
  }
  .timer-count {
    @apply block font-semibold text-4xl md:text-5xl lg:text-6xl;
  }
  .timer-type {
    @apply block text-sm;
  }
}
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .group:hover .group-hover\:block {
    display: block;
  }

  .group.open .group-open\:top-2 {
    top: 0.5rem;
  }

  .group.open .group-open\:-top-2 {
    top: -0.5rem;
  }

  .group.open .group-open\:block {
    display: block;
  }

  .group.open .group-open\:rotate-45 {
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .group.open .group-open\:-rotate-45 {
    --tw-rotate: -45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .group.open .group-open\:opacity-0 {
    opacity: 0;
  }

  .peer.open ~ .peer-open\:block {
    display: block;
  }
}
